<!-- templates/registration/login.html -->
{% extends "base.html" %}
{% load static %}
{% block content %}
 <!-- Custom styles for this template -->
 <style>
body {
  height: 100%;
}

body {      
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;    
  background-color: hsl(0, 0%, 96%);
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}

.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}   
 </style>

  <body class="text-center">
    <form class="form-signin" method="POST">   
      {% csrf_token %}             
      {% if form.errors %}
      <div class="alert alert-danger alert-dismissible" role="alert">
         <strong>Por favor introduzca un nombre de usuario y una contraseña correctos.</strong>
      </div>
      {% endif %}      
      <label for="inputUser" class="sr-only">Usuario</label>      
      <input type="text" name="username" class="form-control" id="inputdefault" autofocus autocapitalize="none" autocomplete="username" maxlength="100" required id="id_username">
      <label for="inputPassword" class="sr-only">Contraseña</label>      
      <input type="password" placeholder="Password" class="form-control" name="password" autocomplete="current-password" required id="id_password">
      <button class="btn btn-lg btn-primary btn-block" type="submit">Inicia Sesión</button>      
    </form>
  </body>
{% endblock %}