{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
<!--enctype="multipart/form-data"-->
<form method="POST" action="">{% csrf_token %}
    {{ form|crispy}}
    <hr/>
    <button type="submit" class="btn btn-primary">Aceptar</button>
    <a href="../" type="submit" class="btn btn-primary">Volver</a>
</form> 

{% endblock %}