{% extends "base.html" %}
{% load static %}
{% block content %}
<table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>DNI</th>
        <th>Genero</th>
        <th>EMAIL</th>
        <th>Monto</th>
        <th>Registro</th>
      </tr>
    </thead>
    <tbody>
    
    <!-- Recorremos los objetos o registros que tenemos en nuestra tabla 'pedidos' y los listamos -->
    {% for pedidos in object_list %}
      <tr>
        <td>{{ pedidos.nombre }}</td>
        <td>{{ pedidos.apellido }}</td>
        <td>{{ pedidos.dni }}</td>
        <td>{{ pedidos.genero }}</td>
        <td>{{ pedidos.email }}</td>
        <td>{{ pedidos.monto }}</td>
        <td>{{ pedidos.timestamp }}</td>      
        <td>
          <!-- Usaremos un formulario que realizará la tarea de eliminar un registro o pedido desde la misma tabla HTML -->                        
          <form method="POST" action="eliminar/{{pedidos.id}}">
            {% csrf_token %}
            <div class="btn-group">                            
              <a href="actualizar/{{pedidos.id}}" title="Editar" type="button" class="btn btn-primary">Editar</a>                                          
            </div>
          </form>
        </td>
        <td>
          <form method="POST" action="eliminar/{{pedidos.id}}">
            {% csrf_token %}
            <div class="btn-group">                                          
              <button class="btn btn-danger" onclick="return eliminar();" type="submit">
                Eliminar
              </button>
            </div>
          </form>          
        </td>
      </tr>
    {% endfor %}
      
      <!--Pedido de confirmación al eliminar un registro-->
      <script type="text/javascript">
        function eliminar() {
          var x = confirm("Eliminar Prestamo ?");
            if (x)
              return true;
            else
              return false;
        }
      </script>

    </tbody>
  </table>
  {% endblock %}