{% extends "base.html" %}
{% load crispy_forms_tags %}

<div class="bg-light p-5 rounded">
    <h1>MoniApp</h1>
    <p class="lead"></p>
    <a class="btn btn-lg btn-primary" href="/docs/5.0/components/navbar/" role="button">View navbar docs &raquo;</a>
  </div>

{% block content %}
<h1>{{ temp_titulo }}</h1>
<hr/>
<br/>
{% if form %}
  <!--Control de mensajes de confirmación/error luego de enviar el pedido de prestamo-->
  {% if messages %}    
      {% for message in messages %}
        {% if message.level != DEFAULT_MESSAGE_LEVELS.ERROR %}
          <div class="alert alert-success" role="alert">
            {{ message }}            
          </div>  
        {% endif %}

        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
          <div class="alert alert-danger" role="alert">
            {{ message }}            
          </div>      
        {% endif %}
      {% endfor %}   
      <!--Redirección al mismo html limpio para registrar un nuevo prestamos-->
      <a href="http://127.0.0.1:8000/inicio/" type="submit" class="btn btn-primary">Nuevo Prestamo</a>           
  {% endif %}  
  <!--Oculto formulario de registro de pedido luego de enviarlo-->        
  {% if not messages %}  
    <form method="POST" action="">{% csrf_token %}
        {{ form|crispy }}
        <hr/>    
        <input type="submit" class="btn btn-primary" value="Registrar Prestamo" />    
    </form>
  {% endif %}  

{% endif %}
{% endblock %}