<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">MoniApp</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="http://127.0.0.1:8000/inicio/">Registrar Prestamos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="http://127.0.0.1:8000/crud/">Administrar Prestamos</a>
          </li>
        </ul>
        
        <form class="d-flex">   
          <!--Cambio el boton para hacer el login y loguot dependiendo si estoy logueado o no-->
          {% if user.is_authenticated %}                 
            <a href="http://127.0.0.1:8000/accounts/logout/" type="submit" class="btn btn-success">Salir</a>           
          {% endif %}  

          {% if not user.is_authenticated %}
            <a href="http://127.0.0.1:8000/accounts/login/" type="submit" class="btn btn-success">Ingresar</a>           
          {% endif %}
        </form>
        
      </div>
    </div>
  </nav>